header {
    margin: 60px 0 20px 0;
}

.postTimestamp {
    margin: 0 5px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.8em;
}

.commentHeader {
    padding-bottom: .21428571rem;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.comment .text {
    margin: 10px 0 !important;
}

.paging > button > i {
    background-color: transparent !important;
}